# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
# for more details

#
# You can override some environment variables in a gitignored ".envrc.private" file.
# You can `cp .envrc.example .envrc.private` to get an initial copy.
# Values in the `.envrc.private` file will override values in devbox.json
#
source_env_if_exists .envrc.private
