@font-face {
    font-family: "Jost";
    src: url("/fonts/jost/Jost-VariableFont_wght.ttf") format("truetype");
    font-weight: 200 300 400 500 600 700 800;
}

body {
    font-family: "Jost", sans-serif;
    font-weight: 250;
    margin: 2em;

    @media (min-width: 768px) {
        margin: 4em 10vw;
    }
}

h1 {
    font-weight: 800;
    font-size: 10vw;
    margin-bottom: 12px;
    rotate: -2deg;
    text-align: center;

    /** Workaround for the rotation making it hard to click other things **/
    position: relative;
    top: 0;
    z-index: -1;
}

h2 {
    font-weight: 800;
    font-size: 3rem;
}
