.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    list-style: none;
    padding: 0;

    @media (min-width: 321px) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    li {
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

        &:first-child {
            grid-column: 1 / -1;
        }

        .card-title {
            padding: 20px;
            background: black;
            color: white;
            border-radius: 5px 5px 0 0;
        }

        .card-body {
            padding: 20px;
            border-radius: inherit;
        }
    }
}
