.back-link {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    color: #000;
    /** Make bold on hover **/
    transition: font-weight 0.2s ease-out;
    font-weight: 200;
    &:hover {
        font-weight: 800;
    }
}

.event-grid {
    display: grid;
    grid-gap: 80px;
    grid-template-columns: 1fr;
    @media (min-width: 400px) {
        grid-template-columns: 1fr 1fr;
    }

    h3 {
        font-size: 28px;
    }
}
